<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="StaticAssetsToS3" stopProcessing="true">
                    <match url="^static/(.*)$" />
                    <action type="Redirect" url="http://avko1.net.s3-website-ap-northeast-2.amazonaws.com/static/{R:1}" />
                </rule>
                <rule name="RedirectStaticToS3" stopProcessing="true">
                    <match url="^static/(.*)$" />
                    <action type="Redirect" url="http://avko1.net.s3-website-ap-northeast-2.amazonaws.com/static/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
