<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- ARR 프록시 활성화 -->
    <proxy enabled="true" preserveHostHeader="true" reverseRewriteHostInResponseHeaders="true" />

    <!-- Rewrite 만 사용, 핸들러 건드리지 않음 -->
    <rewrite>
      <rules>
        <rule name="ReverseProxyToNext" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>